VITE_GOOGLE_MAPS_API_KEY = enter_your_key_here
VITE_GOOGLE_MAPS_API_KEY2 = enter_your_key_here
VITE_MAP_ORIGIN_PLACE_ID = ChIJUTPYsaccdkgRgyqyCsIZDVc
VITE_MAP_DEFAULT_DESTINATION_PLACE_ID = ChIJxZ89_1obdkgRbsyu0pfn3rw