.addAmenityPage{
    position: relative;
}

.leftSide{
    position: absolute;
    left: -730px;
    top: -350px;
}

.rightSide{
    position: absolute;
    left: 250px;
    top: -350px;
}

/* amenity type and autocompleted name and address fields */
.typeSelection, .autocompleteAddress, .autocompleteName {
  background-color: white;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-left: 5px; 
  font-size: large;
  text-align: center;
}

/* placesAPI map search box styling */
.AmenityMapSearch {
  background-color: rgb(255, 255, 255);
  font-family: futara;
  border-radius: 10px;
  height: 2.5rem;
  width: 42rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.amenityInput{
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 5px;
  font-size: large;
}

.amenityInput:focus{
  outline: none;
}

.mapSearchIcon{
   color: #0b938c91; 
}

.addressLabel, .nameLabel, .typeLabel{
    font-size: x-large;
    text-align: center;
}

button{
    place-items: center;
}