.addAmenityPage{
  display:flex;
  gap: 300px;
  background-color: red;
}

.leftSide{
    position: absolute;
    left:0px;
    width: 400px;
    height: 500px;
}

.rightSide{
    position: absolute; 
    right:0px;
} 

/* .addAmenityPage{
    min-height: 100vh;
    background-color: #f5f5f5;
}

.layout{
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
/* .leftSide{
    width: 420px;
    background: white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    overflow-y: auto;
} */

/* RIGHT PANEL (MAP) */
/* .rightSide{
    flex: 1;
    padding: 20px;
}  */