.homePage{
  position: relative;
}



/* left side of the homepage */
.homeLeft{
  position: absolute;
  left: 30px;
  top: 20px;
}

/* right side of the homepage */
.homeRight{
  position: absolute;
  left: 50%;
  top: 0px;
}



/* searchbar styling */
.homeSearchBar {
  background-color: rgb(255, 255, 255);
  font-family: futara;
  border-radius: 10px;
  height: 2.5rem;
  width: 40rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.input{
  background-color: transparent;
  height: 90%;
  width: 100%;
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 5px;
}

.input:focus{
  outline: none;
}

.searchIcon{
  color: #0b938c;
}


/* styling for the search results list */
.searchResultsList, .noSearchableAmenity{
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 8px #ddd; */
  border-radius: 10px;
  margin-top: 4px;
  max-height: 200px;
}

/* styling for hovering over the search result */
.searchedAmenities:hover{
  background-color: rgb(198, 195, 195);
}





/* styling for filter buttons */
.filterButtons{
  position:relative;
  left: 20px;
  top: 15px;
}

.homeFilters{
  display:flex;
  top: 50px;
}

.foodButton{
  margin-left: 40px;
}

.studyButton{
  margin-left: 110px;
}

.activityButton{
  margin-left: 110px
} 


/* amenityList container */
div.homeAmenityListContainer {
  position: relative;
  background-color: rgb(238, 236, 236);
  width: 670px;
  border-radius: 10px;
  text-align: left;
  color: black;
  top: 10px;
}

/* size of amenity cards */
.amenities{
  border-bottom: 2px solid #989494;
  margin-bottom: 0%;
  padding-left: 10px;
}



/* for the review circles */
.reviewSummaries{
    display: flex;
    gap: 20px;
}

.circle1{
  width:105px;
  height:105px;
  border-radius: 50%;
  background-color: rgb(128, 231, 238);
  font-size: small;
  text-align: center;
}

.circle2{
  width:105px;
  height:105px;
  border-radius: 50%;
  background-color: rgb(246, 161, 57);
  font-size: small;
  text-align: center;
}

.circle3{
  width:105px;
  height:105px;
  border-radius: 50%;
  background-color: rgb(255, 227, 47);
  font-size: small;
  text-align: center;
}

.ratingCircle{
  width:105px;
  height:105px;
  border-radius: 50%;
  background-color: rgb(52, 242, 188);
  font-size: small;
  text-align: center;
}

.directionsButton{
    position: relative;
    left: 500px;
    top: -100px;
}

.addReviewButton{
    position:relative;
    left: 5px;
}




/* addAmenity styling */
.addAmenityHome{
    position: relative;
    top: 30px;
}


.homeMap{
    position: fixed;
}