#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.homeMap {
  position: relative;
  left: 380px;
  top:-280px
}

.homeAmenityList {
  position: relative;
  right: 500px;
  top: 100px;
}

#studentEmail {
  position: relative;
  left: 16px;
}

.linkToSignUp{
  position: relative;
  top: -10px;
}

.homeSearchBar {
  background-color: rgb(255, 255, 255);
  font-family: futara;
  border-radius: 10px;
  position: relative;
  right: 300px;
  top: 0px;
  height: 2.5rem;
  width: 36rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.input{
  background-color: transparent;
  height: 90%;
  width: 100%;
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 5px;
}

.input:focus{
  outline: none;
}

.searchIcon{
  color: #0b938c;
}

.filterButtons{
  position:relative;
  top: -150px;
  left: -300px;
}

.homeFilters{
  display:flex;
}

.foodButton{
  margin-left: 40px;
}

.studyButton{
  margin-left: 110px;
}

.activityButton{
  margin-left: 110px
}
